@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap");

body {
  font-family: "Noto Sans JP", sans-serif;
}

.search {
  position: absolute;
  top: 1.5%;
  left: 10%;
  width: 60%;
  margin-bottom: auto;
  height: 50px;
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
}

.search-input {
  color: white;
  border: 0;
  outline: 0;
  background: none;
  width: 0;
  margin-top: 2px;
  height: 25px;
  caret-color: transparent;
  line-height: 20px;
  transition: width 0.4s linear;
}

.search .search-input {
  padding: 0 10px;
  width: 100%;
  caret-color: #f55f84;
  font-size: 19px;
  font-weight: 300;
  color: black;
  transition: width 0.4s linear;
}

.search-icon {
  height: 34px;
  width: 34px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #fd5c7f;
  font-size: 10px;
  bottom: 30px;
  position: relative;
  border-radius: 5px;
}

.search-icon:hover {
  color: #fff !important;
}

a:link {
  text-decoration: none;
}

.nav-area {
  width: 100vw;
  height: 9vh;
}

.topbar {
  width: 100vw;
  height: 9vh;
  background-color: rgb(255, 255, 255);
}

.nav-logo-img {
  margin-left: 2.5vw;
  margin-top: 0.3vw;
}

.header {
  position: relative;
}

.nav-user-img {
  width: 10%;
  margin-right: 10px;
  height: 10%;
  border-radius: 25px;
}

.menu-item-drop {
  position: relative;
  height: 30px;
  font-size: 20px;
  top: 5px;
}

.fa {
  color: rgb(59, 59, 59);
}

.menu-drop {
  position: absolute;
  list-style-type: none;
  width: 410px;
  display: inline;
  right: 0%;
  top: 1.8%;
  right: 2%;
}

.menu-drop li {
  margin-right: 5%;
  display: inline-block;
  font-weight: 700;
}

.menu li > a {
  color: black;
}

.d-block {
  width: 1000px !important;
  height: 800px !important;
}
.align-self-center {
  width: 100px !important;
  height: 100px !important;
  border-radius: 90px;
}
figure {
  text-align: center;
  font-style: arial;
}

.o-icon {
  position: absolute;
  top: 35%;
  left: 5%;
  height: 150px;
}

.btn-primary,
.btn-primary:active {
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  box-shadow: 0 5px 0 #c72060;
  background-color: rgb(255, 50, 94);
  border-color: rgb(255, 50, 94);
}

.btn-primary:hover,
.btn-primary:visited,
.btn-primary:focus,
.btn-primary:active:focus {
  box-shadow: 0 5px 0 #0e0e0e;
  background-color: rgb(53, 53, 53);
  border-color: rgb(0, 0, 0);
  border-width: 1px;
}

.form-font {
  position: absolute;
  left: 20%;
  top: -15%;
  font-size: 119%;
}

/* Posicão do forms */

.nav-tab {
  position: absolute;
  width: 1000px;
  left: 20%;
  top: 8%;
}

/* Deixe a escrita "Todos os direitos reservados" pequena e em cinza */

.direitos {
  position: absolute;
  font-size: 75%;
  color: rgb(150, 150, 150);
  margin-left: 27%;
  margin-top: 5%;
  margin-bottom: 5%;
  display: none;
}

.sessao-header {
  font-family: "Courier New", Courier, monospace;
  display: flex;
  /* Deixa esse container ocupar somente o necessário pro tamanho do header */
  justify-content: center;
  /* Centraliza o titulo geral da pagina Conhecimentos */
  position: absolute;
  left: 40%;
  top: 9%;
}

.form-group #inputDescription {
  min-height: 4rem;
  height: 4rem;
  max-height: 10rem;
}

.pictureInput {
  font-size: 0.8rem;
}
