.o-logo {
  position: relative;
  vertical-align: auto;
  top: 0;
  left: 45%;
}
.o-icon {
  position: absolute;
  top: 35%;
  left: 5%;
  height: 150px;
}
.o-formulario2 {
  position: absolute;
  max-width: 400px;
  margin-left: 35%;
  margin-top: 5%;
  box-sizing: border-box;
}

.btn,
.btn-primary,
.btn-primary:active {
  box-shadow: 0 5px 0 #c72060;
  background-color: rgb(255, 50, 94);
  border-color: rgb(255, 50, 94);
  width: 400px;
}
.btn-primary:hover,
.btn-primary:visited,
.btn-primary:focus,
.btn-primary:active:focus {
  box-shadow: 0 5px 0 #0e0e0e;
  background-color: rgb(53, 53, 53);
  border-color: rgb(0, 0, 0);
  border-width: 1px;
  width: 400px;
}

.btn-cadastrar {
  margin-top: 2%;
}
.direitos {
  position: absolute;
  font-size: 75%;
  color: rgb(150, 150, 150);
  margin-left: 27%;
  margin-top: 5%;
  margin-bottom: 5%;
}
