.signupGrid {
  display: grid;
  place-content: center;
}

.nomeSignupContainer {
  margin-top: 9vh;
  margin-bottom: 1vh;
  display: flex;
  justify-content: space-around;
  height: 15%;
  align-items: center;
  flex-direction: column;
  font-weight: 600;
}

.cpfdatanascContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-weight: 600;
  height: 100%;
  justify-content: space-between;
}

.datePickerSignup {
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  box-shadow: 1px 1px 2px #333333;
  -moz-box-shadow: 1px 1px 2px #333333;
  -webkit-box-shadow: 1px 1px 2px #333333;
  background: #cccccc;
  border: 1px solid #000000;
  height: 30px;
  width: 400px;
}

.tituloDataNascSignup {
  font-weight: 600;
  font-size: 108%;
}

.submitButtonSignup {
  margin-top: 20px;
  height: 30px;
  background: #ff325a;
  width: 400px;

  display: inline-block;
  padding: 0.3em 1.2em;
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  text-align: center;
  font-weight: bold;
  transition: all 0.2s;
}
