.slider {
  position: relative;
  height: 60vh;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  position:relative;
  width: 560px;
  height: 500px;
  border-radius: 10px;
  
}

.right-arrow {
  position: absolute;
  top: 50%;
  z-index: 1;
  right: 32px;
  font-size: 2rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 32px;
  font-size: 2rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.slide {
  position:relative;
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  position:relative;
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}