@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');

.cabecalho-perfil-area{
  display: inline-block;
  align-content: center;
  justify-content: center;
  width: 80vw;
}

.cabecalho-user-img{
  width: 100px;
  height: 100px;
  border-radius: 70px;
  margin: auto;
}

.cabecalho{
  display: grid;
  grid-template-columns: 0.05fr 5fr 1fr 0.3fr;
  grid-template-rows: 1fr;
  padding-left: 0px;
  align-items: center;
}

.subGrid{
  display: grid;
  grid-auto-flow: dense;
  grid-template-columns: 5fr;
  grid-template-rows: 0.2fr 0.1fr;
}

.cabecalho li{
  list-style-type: none;
  float: left;
  margin-right: 15px;
}

.cabecalho-item{
  width: 125px;
}

.titulo, .cabecalho-titulo{
  font-weight: bold;
  font-size: 28px;
  line-height: 220%;
  margin: 0px;
}

.cabecalho-info{
  position: flex;
  left: 26%;
  top: 60%;
}

.cabecalho-texto{
  color: rgb(88, 88, 88);
}

.ranting{
  text-align: center;
  font-size: 12px;
  line-height: 150%;
}
.rating-num{
  line-height: 60%;
  font-size: 35px;
  margin-bottom: 12px;
}
.qntAvaliação{
  font-size: 10px;
}

.cabecalho-config{
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  color: #f05b78;
}


@keyframes rotate {
  100% {
      transform: rotate(1turn);
  }
}

.fa-cog{
  color: #f05b78;
  -webkit-transition: -webkit-transform 1s;
  transition: 1s;
  height: 28px;
}

.fa-cog:hover{
  -webkit-transform: rotate(360deg) translateZ(0);
  transform: rotate(360deg) translateZ(0);
}

.rating-num{
  color: #242424;
  font-size: xx-large;
}

.Estrelas-cabecalho{
  color: #f0c15b;
  font-size: large;
}

.feedback-User{
  display: flex;
  font-size : 24px;
  margin: auto;
  cursor: pointer;
  position: relative;
  min-height: 50px;
  place-items: center;
}

.feedBack-DropMenu{
  padding: 0px 5px 5px 5px;
  width: max-content;
  font-size: larger;
  top: -47px;
  left: -64px;
  border-radius: 5px;
  position: absolute;
}

.feedBack-DropMenu::after{
  content: '';
  position: absolute;
  background-color: #f05b79;
  width: 10px;
  height: 10px;
  display: block;
  z-index: -1;
  transform: rotate(45deg);
  top: 90%;
  left: 50%;
}

.feedBack-DropMenu > *,
.feedBack-DropMenu::after,
.feedBack-DropMenu{
  visibility: hidden;  
}

.feedback-User:hover > .feedBack-DropMenu::after,
.feedback-User:hover > .feedBack-DropMenu > *,
.feedback-User:hover > .feedBack-DropMenu{
  visibility: visible;
  animation: appear-feedBack 0.3s ease-in;
}

.feedback-User:hover > .feedBack-DropMenu{
  display: flex;
  position: absolute;
  background-color: #f05b78;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.164);
}

@keyframes appear-feedBack {
  0%{
    opacity: 0;
  }
  100%{
    opacity:100;
  }
}

@keyframes appear-feedBack2 {
  0%{
    opacity: 0;
  }
  100%{
    opacity:100;
  }
}
