/* Centraliza Header */

.o-logo {
  position: relative;
  vertical-align: auto;
  top: 0;
  left: 48%;
}

/***/

.o-icon {
  position: absolute;
  top: 35%;
  left: 5%;
  height: 150px;
}

.btn, .btn-primary, .btn-primary:active {
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  box-shadow: 0 5px 0 #c72060;
  background-color: rgb(255, 50, 94);
  border-color: rgb(255, 50, 94);
  width: 475px;
}

.btn-primary:hover, .btn-primary:visited, .btn-primary:focus, .btn-primary:active:focus {
  box-shadow: 0 5px 0 #691535;
  background-color: #ad2056;
  border-color: #3d091d;
  border-width: 1px;
}

/* Posicão do forms */

/* FOOTER */
.container {
  margin-top: 1rem;
  width: 500px;
  left: 37%;
  top: 15%;
  padding: 0rem 0.8rem 0.8rem 0.8rem;
  border-radius: 1rem;
}

#ad {
  width: 30rem;
}

footer {
  text-align: center;
  padding: 3px;
  background-color: #f8f9fa;
  color: white;
}

/***/

#header1 {
  text-align: center;
}

/* Posição botão cadastrar */

.btn-editar-anuncio {
  margin-top: 2%;
}



.sessao-header {
  font-family: 'Courier New', Courier, monospace;
  display: flex;
  /* Deixa esse container ocupar somente o necessário pro tamanho do header */
  justify-content: center;
  /* Centraliza o titulo geral da pagina Conhecimentos */
  position: absolute;
  left: 40%;
  top: 9%;
}

.form-group #inputDescription {
  min-height: 4rem;
  height: 4rem;
  max-height: 10rem;
}

.pictureInput {
  margin-bottom: .5rem;
}

#btn-modal-sucesso-ok {
  width: 100px;
  position: relative;
  left: 40%;
}

/* Modal sair sem salvar */

#botaoSair {
  width: 12rem;
}

#botaoSair, #botaoSair:active {
  background-color: red;
  box-shadow: 0 5px 0 #e79f9a;
  border-color: rgb(139, 18, 18);
}

#botaoSair:hover, #botaoSair:focus, #botaoSair:visited, #botaoSair:active:focus {
  background-color: rgb(187, 14, 14);
  box-shadow: 0 5px 0 #7a1b14;
  border-color: rgb(104, 20, 20);
}

#botaoFicar {
  width: 12rem;
  position: absolute;
  left: 2.5%;
}

#botaoFicar, #botaoFicar:active {
  color: #0e0e0e;
  background-color: rgb(223, 223, 223);
  box-shadow: 0 5px 0 #a5a1a3;
  border-color: rgb(51, 50, 51);
}

#botaoFicar:hover, #botaoFicar:focus, #botaoFicar:visited, #botaoFicar:active:focus {
  color: #0e0e0e;
  background-color: rgb(141, 139, 139);
  box-shadow: 0 5px 0 #525151;
  border-color: rgb(37, 36, 36);
}

/***/
