/* Centraliza Header */

.o-logo {
  position: relative;
  vertical-align: auto;
  top: 0;
  left: 45%;
}

/***/

.o-icon {
  position: absolute;
  top: 35%;
  left: 5%;
  height: 150px;
}

.btn,
.btn-primary,
.btn-primary:active {
  box-shadow: 0 5px 0 #c72060;
  background-color: rgb(255, 50, 94);
  border-color: rgb(255, 50, 94);
  width: 375px;
}


.btn-primary:hover,
.btn-primary:visited,
.btn-primary:focus,
.btn-primary:active:focus {
  box-shadow: 0 5px 0 #0e0e0e;
  background-color: rgb(53, 53, 53);
  border-color: rgb(0, 0, 0);
  border-width: 1px;
  width: 375px;
}


/* ?? */
.form-font {
  position: absolute;
  left: 20%;
  top: -15%;
  font-size: 119%;
}

/* Posicão do forms */
.nav-tab {
  position: absolute;
  width: 400px;
  left: 37%;
  top: 15%;
  padding: 0rem 0.8rem 0.8rem 0.8rem;
  border-radius: 1rem;
}

#header1 {
  text-align: center;
}

/* Posição botão cadastrar */
.btn-editar-anuncio {
  margin-top: 2%;
}

/* Deixe a escrita "Todos os direitos reservados" pequena e em cinza */
.direitos {
  position: absolute;
  font-size: 75%;
  color: rgb(150, 150, 150);
  margin-left: 27%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.sessao-header {
  font-family: 'Courier New', Courier, monospace;
  display: flex;  /* Deixa esse container ocupar somente o necessário pro tamanho do header */
  justify-content: center; /* Centraliza o titulo geral da pagina Conhecimentos */
  position: absolute;
  left: 40%;
  top: 9%;
}

.form-group #inputDescription {
  min-height: 4rem;
  height: 4rem;
  max-height: 10rem;
}

.pictureInput  {
  margin-bottom: .5rem;
}


#btn-modal-sucesso-ok {
  width: 100px;
  position: relative;
  left: 40%;
}